html
  head
    title YOUR DREAMS ARE VALID
    block script
      script(src="https://kit.fontawesome.com/1674888ce7.js")
    block style  
    style
        include ../css/index.css


  body
    header
      nav#nav
        div#logo
          p DESTINATION TO #[strong EUROPE]
        ul
          li #[a(href='/') Home]
          li #[a(href='/services') Services]
          li #[a(href='/about') About]
          li #[a(href='/contact') Contact-Us] 


    block content


    footer#footer
      div#footer-content
        div#logo
          a#fb.logodiv(href='https://www.facebook.com/' target='_blank')
          a#twit.logodiv(href='https://twitter.com/' target='_blank')
          a#insta.logodiv(href='https://www.instagram.com/' target='_blank')
        div#copy
          | Copyright &copy; 
          | &#160;&#160;&#160;&#160; | &#160;&#160;&#160;&#160;
          | JARVIZ Productoin 
          | &#160;&#160;&#160;&#160; | &#160;&#160;&#160;&#160;
          | Designed By : JUNAID.



